## PRACTICA 3 PROYECTO INDIVIDUAL SOY HENRY

In [1]:
import pandas as pd
import numpy as np
import datetime

En el siguiente proyecto La Organización de Aviación Civil Internacional (OACI), organismo de la Organización de las Naciones Unidas, quiere investigar en profundidad los accidentes producidos desde inicios del siglo XX. Para ello, les solicita la elaboración de un informe y un dashboard interactivo que recopile tal información.

Este Organismo solo cuenta con un dataset con datos de accidentes aéreos, pero nos solicita que podamos cruzar este con cualquiera que nosotros mismos investiguemos bajo el criterio que nosotros escojamos.

Empiezo descargando el dataset el cual el cliente proveyó.

In [19]:
AccidentesAviones= pd.read_csv("AccidentesAviones.csv")

In [10]:
AccidentesAviones.head(5)

,Unnamed: 0,fecha,HORA declarada,Ruta,OperadOR,flight_no,route,ac_type,registration,cn_ln,all_aboard,PASAJEROS A BORDO,crew_aboard,cantidad de fallecidos,passenger_fatalities,crew_fatalities,ground,summary
0,0,"September 17, 1908",1718,"Fort Myer, Virginia",Military - U.S. Army,?,Demonstration,Wright Flyer III,?,1,2,1,1,1,1,0,0,"During a demonstration flight, a U.S. Army fly..."
1,1,"September 07, 1909",?,"Juvisy-sur-Orge, France",?,?,Air show,Wright Byplane,SC1,?,1,0,1,1,0,0,0,Eugene Lefebvre was the first pilot to ever be...
2,2,"July 12, 1912",0630,"Atlantic City, New Jersey",Military - U.S. Navy,?,Test flight,Dirigible,?,?,5,0,5,5,0,5,0,First U.S. dirigible Akron exploded just offsh...
3,3,"August 06, 1913",?,"Victoria, British Columbia, Canada",Private,?,?,Curtiss seaplane,?,?,1,0,1,1,0,1,0,The first fatal airplane accident in Canada oc...
4,4,"September 09, 1913",1830,Over the North Sea,Military - German Navy,?,?,Zeppelin L-1 (airship),?,?,20,?,?,14,?,?,0,The airship flew into a thunderstorm and encou...

Al empezar a revisar este dataset lom primero que encontramos es que la columna fecha debemos normalizarla, a continuación 
aplicamos un replace, y es necesario hacer una función para poder transformar estos datos en el formato adecuado:

In [20]:
AccidentesAviones["HORA declarada"].replace('?',"00:00",inplace=True)  #1

In [12]:
#AccidentesAviones["HORA declarada"] = AccidentesAviones["HORA declarada"].apply(lambda x: x[-5:])

In [13]:
AccidentesAviones["HORA declarada"]

0        1718
1       00:00
2        0630
3       00:00
4        1830
        ...
5003     1835
5004     1800
5005     0800
5006    11:30
5007     1500
Name: HORA declarada, Length: 5008, dtype: object

In [23]:
def horamilitar(string):
    if ":" not in string:
        return f'{string[:2]}:{string[-2:]}'
    else:
        return string

In [24]:
AccidentesAviones["HORA declarada"] = AccidentesAviones["HORA declarada"].apply(lambda x: horamilitar(x))

In [25]:
AccidentesAviones["HORA declarada"]

0       17:18
1       00:00
2       06:30
3       00:00
4       18:30
        ...
5003    18:35
5004    18:00
5005    08:00
5006    11:30
5007    15:00
Name: HORA declarada, Length: 5008, dtype: object

convertimos el tipo de dato a su respectivo datetime:

In [26]:
AccidentesAviones["HORA declarada"]=pd.to_datetime(AccidentesAviones["HORA declarada"],format='%H%M').dt.time

ValueError: unconverted data remains: :18

Normalizo el nombre de las columnas, ya que otra de las cosas que pude observar es que hay nombres en inglés y en español, en mayúsculas y minúsculas; escogí el español ya que es mi lengua nativa, y así poder interpretar mejor el significado de dichas columnas.

In [27]:
acciAereos = AccidentesAviones.rename(columns={'HORA declarada':'Hora_declarada','OperadOR':'Operador','flight_no':'número_vuelo','cn_ln':'No_serial',
                                   'Ruta':'lugar_accidente','route':'origen_destinoVuelo','ac_type':'tipo_avión','registration':'registro','all_aboard':'total_pasajeros+tripulacion',
                                    'PASAJEROS A BORDO':'solo_pasajeros','crew_aboard':'tripulación','cantidad de fallecidos':'numero_total_fallecidos',
                                    'passenger_fatalities':'num_pasajeros_fallecidos','crew_fatalities':'num_tripulantes_fallecidos', 
                                    'ground':'fallecidos_no_del_avión','summary':'resumen_accidente'})

In [543]:
acciAereos.head(4)

,Unnamed: 0,fecha,Hora_declarada,lugar_accidente,Operador,número_vuelo,origen_destinoVuelo,tipo_avión,registro,No_serial,total_pasajeros+tripulacion,solo_pasajeros,tripulación,numero_total_fallecidos,num_pasajeros_fallecidos,num_tripulantes_fallecidos,fallecidos_no_del_avión,resumen_accidente
0,0,"September 17, 1908",17:18:00,"Fort Myer, Virginia",Military - U.S. Army,?,Demonstration,Wright Flyer III,?,1,2,1,1,1,1,0,0,"During a demonstration flight, a U.S. Army fly..."
1,1,"September 07, 1909",00:00:00,"Juvisy-sur-Orge, France",?,?,Air show,Wright Byplane,SC1,?,1,0,1,1,0,0,0,Eugene Lefebvre was the first pilot to ever be...
2,2,"July 12, 1912",06:30:00,"Atlantic City, New Jersey",Military - U.S. Navy,?,Test flight,Dirigible,?,?,5,0,5,5,0,5,0,First U.S. dirigible Akron exploded just offsh...
3,3,"August 06, 1913",00:00:00,"Victoria, British Columbia, Canada",Private,?,?,Curtiss seaplane,?,?,1,0,1,1,0,1,0,The first fatal airplane accident in Canada oc...

eliminamos la columna "Unnamed: 0", ya que es innecesaria, es un indice y no lo necesitamos

In [28]:
acciAereos.drop(["Unnamed: 0"],axis=1,inplace=True)

In [451]:
acciAereos

,fecha,Hora_declarada,Ruta,Operador,número_vuelo,ruta2,tipo_avión,registro,No_serial,total_pasajeros+tripulacion,solo_pasajeros,tripulación,numero_total_fallecidos,num_pasajeros_fallecidos,num_tripulantes_fallecidos,fallecidos_no_del_avión,resumen_accidente
0,"September 17, 1908",17:18:00,"Fort Myer, Virginia",Military - U.S. Army,?,Demonstration,Wright Flyer III,?,1,2,1,1,1,1,0,0,"During a demonstration flight, a U.S. Army fly..."
1,"September 07, 1909",00:00:00,"Juvisy-sur-Orge, France",?,?,Air show,Wright Byplane,SC1,?,1,0,1,1,0,0,0,Eugene Lefebvre was the first pilot to ever be...
2,"July 12, 1912",06:30:00,"Atlantic City, New Jersey",Military - U.S. Navy,?,Test flight,Dirigible,?,?,5,0,5,5,0,5,0,First U.S. dirigible Akron exploded just offsh...
3,"August 06, 1913",00:00:00,"Victoria, British Columbia, Canada",Private,?,?,Curtiss seaplane,?,?,1,0,1,1,0,1,0,The first fatal airplane accident in Canada oc...
4,"September 09, 1913",18:30:00,Over the North Sea,Military - German Navy,?,?,Zeppelin L-1 (airship),?,?,20,?,?,14,?,?,0,The airship flew into a thunderstorm and encou...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5003,"March 28, 2021",18:35:00,"Near Butte, Alaska",Soloy Helicopters,?,Sightseeing Charter,Eurocopter AS350B3 Ecureuil,N351SH,4598,6,5,1,5,4,1,0,The sightseeing helicopter crashed after missi...
5004,"May 21, 2021",18:00:00,"Near Kaduna, Nigeria",Military - Nigerian Air Force,?,?,Beechcraft B300 King Air 350i,NAF203,FL-891,11,7,4,11,7,4,0,"While on final approach, in poor weather condi..."
5005,"June 10, 2021",08:00:00,"Near Pyin Oo Lwin, Myanmar",Military - Myanmar Air Force,?,Naypyidaw - Anisakan,Beechcraft 1900D,4610,E-325,14,12,2,12,11,1,0,The plane was carrying military personnel and ...
5006,"July 04, 2021",11:30:00,"Patikul, Sulu, Philippines",Military - Philippine Air Force,?,Cagayan de Oro-Lumbia - Jolo,Lockheed C-130H Hercules,5125,5125,96,88,8,50,?,?,3,"While attempting to land at Jolo Airport, the ..."
5007,"July 06, 2021",15:00:00,"Palana, Russia",Kamchatka Aviation Enterprise,251,Petropavlovsk - Palana,Antonov An 26B-100,RA-26085,12310,28,22,6,28,22,6,0,The passenger plane crashed into the top of a ...


los datos tienen campos nulos ( con signos de interrogación ) los cuales los puedo remplazar con la palabra "se desconoce", ya que en este caso es muy común 
ver este tipo de campos así, y por ahora nos sirve la información como tal y no elimamos asi estos datos.

In [29]:
acciAereos["lugar_accidente"].replace('?',"se desconoce",inplace=True)

In [30]:
acciAereos["origen_destinoVuelo"].replace('?',"se desconoce",inplace=True)

In [31]:
acciAereos["Operador"].replace('?',"se desconoce",inplace=True)

In [32]:
acciAereos["tipo_avión"].replace('?',"se desconoce",inplace=True)

In [33]:
acciAereos["registro"].replace('?',"se desconoce",inplace=True)

In [34]:
acciAereos["No_serial"].replace('?',"se desconoce",inplace=True)

In [35]:
acciAereos["total_pasajeros+tripulacion"].replace('?',"se desconoce",inplace=True)

In [36]:
acciAereos["tripulación"].replace('?',"se desconoce",inplace=True)

In [37]:
acciAereos["numero_total_fallecidos"].replace('?',"se desconoce",inplace=True)

In [38]:
acciAereos["num_pasajeros_fallecidos"].replace('?',"se desconoce",inplace=True)

In [39]:
acciAereos["num_tripulantes_fallecidos"].replace('?',"se desconoce",inplace=True)

In [40]:
acciAereos["fallecidos_no_del_avión"].replace('?',"se desconoce",inplace=True)

In [41]:
acciAereos["resumen_accidente"].replace('?',"se desconoce",inplace=True)

Así como me recomendaron, estuve investigando mucho por INTERNET y encontré una página:

#De una pagina extraida en wikipedia (https://es.wikipedia.org/wiki/Accidente_de_aviaci%C3%B3n) pude extraer la siguiente estadística

Esta la extrage de una forma manual, no era tan grande, y estaba experimentando esta forma, luego metocó separar los datos como muestr a continuación:

In [42]:
Estadisticas_muertes_avion=pd.read_csv("estadisticasmuertesAviones.txt")

In [43]:
Estadisticas_muertes_avion.head(2)

               Año  Muertes36  Número de incidentes y accidentes aéreos35​
0  1978\t2042\t356        NaN                                          NaN
1  1972\t3346\t344        NaN                                          NaN

0        1978\t2042\t356
1        1972\t3346\t344
2        1977\t2449\t340
3        1973\t2814\t333
4        1979\t2511\t328
5        1980\t2203\t325
6        1975\t1856\t316
7        1970\t2226\t298
8        1976\t2419\t277
9        1987\t2064\t277
10       1993\t1760\t275
11       1981\t1506\t272
12       1971\t2228\t271
13       1974\t2621\t270
14       1992\t2299\t266
15       1995\t1828\t266
16       1989\t2507\t265
17       1985\t2968\t261
18       1990\t1631\t261
19       1988\t2313\t254
20       1996\t2796\t251
21       1982\t1958\t250
22       1991\t1957\t240
23       1983\t1921\t238
24       1986\t1763\t238
25       1984\t1273\t234
26       1997\t1768\t232
27       1994\t2018\t231
28       1998\t1721\t225
29       1999\t1150\t221
30    2001\t153946​\t210
31       2003\t1233\t201
32       2000\t1586\t198
33       2002\t1418\t197
34       2005\t1463\t194
35       2006\t1298\t192
36        2008\t952\t189
37        2004\t767\t178
38        2007\t981\t169
39       2009\t1108\t163
40       2010\t1130\t162
41        2012\t800\t156
42        2011\t828\t154
43        2013\t459\t138
44        2019\t578\t125
45        2015\t898\t123
46       2014\t1328\t122
47       2018\t1040\t113
48        2016\t629\t102
49        2017\t399\t101
50         2020\t463\t90
51         2021\t359\t84
Name: Año, dtype: object

In [45]:
Estadisticas_muertes_avion["Año"].str.split('\t', expand=True)

       0        1    2
0   1978     2042  356
1   1972     3346  344
2   1977     2449  340
3   1973     2814  333
4   1979     2511  328
5   1980     2203  325
6   1975     1856  316
7   1970     2226  298
8   1976     2419  277
9   1987     2064  277
10  1993     1760  275
11  1981     1506  272
12  1971     2228  271
13  1974     2621  270
14  1992     2299  266
15  1995     1828  266
16  1989     2507  265
17  1985     2968  261
18  1990     1631  261
19  1988     2313  254
20  1996     2796  251
21  1982     1958  250
22  1991     1957  240
23  1983     1921  238
24  1986     1763  238
25  1984     1273  234
26  1997     1768  232
27  1994     2018  231
28  1998     1721  225
29  1999     1150  221
30  2001  153946​  210
31  2003     1233  201
32  2000     1586  198
33  2002     1418  197
34  2005     1463  194
35  2006     1298  192
36  2008      952  189
37  2004      767  178
38  2007      981  169
39  2009     1108  163
40  2010     1130  162
41  2012      800  156
42  2011      828  154
43  2013      459  138
44  2019      578  125
45  2015      898  123
46  2014     1328  122
47  2018     1040  113
48  2016      629  102
49  2017      399  101
50  2020      463   90
51  2021      359   84

In [46]:
s=Estadisticas_muertes_avion["Año"].str.split('\t', expand=True)

       0        1    2
0   1978     2042  356
1   1972     3346  344
2   1977     2449  340
3   1973     2814  333
4   1979     2511  328
5   1980     2203  325
6   1975     1856  316
7   1970     2226  298
8   1976     2419  277
9   1987     2064  277
10  1993     1760  275
11  1981     1506  272
12  1971     2228  271
13  1974     2621  270
14  1992     2299  266
15  1995     1828  266
16  1989     2507  265
17  1985     2968  261
18  1990     1631  261
19  1988     2313  254
20  1996     2796  251
21  1982     1958  250
22  1991     1957  240
23  1983     1921  238
24  1986     1763  238
25  1984     1273  234
26  1997     1768  232
27  1994     2018  231
28  1998     1721  225
29  1999     1150  221
30  2001  153946​  210
31  2003     1233  201
32  2000     1586  198
33  2002     1418  197
34  2005     1463  194
35  2006     1298  192
36  2008      952  189
37  2004      767  178
38  2007      981  169
39  2009     1108  163
40  2010     1130  162
41  2012      800  156
42  2011      828  154
43  2013      459  138
44  2019      578  125
45  2015      898  123
46  2014     1328  122
47  2018     1040  113
48  2016      629  102
49  2017      399  101
50  2020      463   90
51  2021      359   84

Esta tabla me pareció importante ya que nos muestra una estadística del número de muertos por cada año, desde el año 1970, no pude encontrar desde años anteriores, pero se que con más tiempo se podía encontrar esta información para tener el dataset más cmpleto, por ahora trabajé con esta información.

A continuación acomodo mi dateset renombrando las 3 columnas que tiene:

In [49]:
estadisticasmuertesAviones=s.rename(columns={0:'año',1:'Numero_muertes',2:'Numero de incidentes y accidentes Aéreos'})

In [509]:
len(estadisticasmuertesAviones) #puede servir

52

En esta data que encontré la cual era muy amplia, trata de una lista muy parecida a la que nos da el cliente al comienzo, 
tomado de https://aviation-safety.net/wikibase/ hice un resumen y descargue solo el dato de un año por decada para luego hacer una comparación con la tabla original.
Aunque tuve que deshacerme de 2 columnas, las cuales tenían información muy confusa.

En el enlace podemos ver bien las tablas que hay en la página, y muy completa, con más tiempo trataré de descargar todo el dataset, ya que se requerpia de más tiempo para poder extraer todas las tablas

In [52]:
pdf=pd.read_csv("aviones.csv")

In [53]:
datanueva=pd.read_csv("csvdataset.csv")

In [85]:
len(dataNueva)

1629

Decidí escoger información de un año por década.

In [84]:
len(acciAereos)

5008

Acá nombro las columnas que tienen la misma información de la del dataset original para así entender mejor la comparación

In [54]:
dataNueva = datanueva.rename(columns={'column1':'fecha','column2':'tipo_avión','column3':'registro','column4':'Operador',
                                      'column6':'lugar_accidente'})

In [604]:
dataNueva

                        fecha                 tipo_avión      registro              Operador column5                                    lugar_accidente column7
0     1902-09-23 00:00:00.000              Wright glider             -               Private       0                                     Kitty Hawk, NC     w/o
1     1910-04-14 00:00:00.000              Parseval PL 3           NaN                   NaN       0                                         Plauer See     w/o
2     1910-04-21 00:00:00.000                 Blériot XI           NaN  Clément van Maasdijk       0                               Pau, Basses-Pyrénées     w/o
3     1910-04-25 00:00:00.000              Zeppelin LZ.5          Z-II                  Heer       0                      Weilburg an der Lahn (Hessen)     w/o
4     1910-05-24 00:00:00.000  Blackburn First Monoplane       Unknown    Blackburn Aircraft       0          Near Saltburn-by-the-Sea, North Yorkshire     w/o
...                       ...                        ...           ...                   ...     ...                                                ...     ...
1624  2020-01-07 00:00:00.000                Cirrus SR22        N779LB               Private       0            Kapolei-Kalaeloa Airport, HI (JRF/PHJR)     sub
1625  2020-01-08 00:00:00.000              DJI Inspire 2  Unregistered               Private       0  Sampson House, 64 Hopton Street, Southwark, Lo...     sub
1626  2020-01-08 00:00:00.000      Piper PA-23-250 Aztec        N1428P               Private       0                                         Helena, MT     sub
1627  2020-01-09 00:00:00.000        Cessna 172A Skyhawk        PT-BHF               Private       0                                   Rondonópolis, MT     sub
1628  2020-01-10 00:00:00.000            Piper PA-28-181        N8408E               Private       0                          Santa Barbara, California     sub

[1629 rows x 7 columns]

Elimino esta columna acontinuación ya que tenía diferentes datos y no los pude descifrar, pero por ahora no era necesaria

In [55]:
dataNueva.drop(["column5","column7"],axis=1,inplace=True)

los campos de fecha nulos los relleno con cero para no perderlos

Esto lo hago por ahora pensando en que cuando tenga listos los datos los puedo terminar de transformar en power bi, 
ya que es la herramienta que usaré para la realización del dashboard.

In [58]:
dataNueva["fecha"]=dataNueva["fecha"].fillna(0)

In [ ]:
Los demás campos nulos los relleno igual que como hice con el dataset original, basado en em mismo argumento.

In [59]:
dataNueva["registro"]=dataNueva["registro"].fillna("se desconoce")

In [60]:
dataNueva["Operador"]=dataNueva["Operador"].fillna("se desconoce")

In [61]:
dataNueva["lugar_accidente"]=dataNueva["lugar_accidente"].fillna("se desconoce")

Aca encontre un nuevo dataset con una estadística muy interesante la cual tiene como título:
Accidentes más graves de aviación (1953-presente), cuyo enlace es https://es.wikipedia.org/wiki/Anexo:Accidentes_m%C3%A1s_graves_de_aviaci%C3%B3n_(1953-presente)

Este datasets es interesante para poder ver los países donde han tenido más fallecidos, así que:

En este dataset quiero sacar la lista de fallecidos por paises, para esto hago un groupby, esto me servirá para mostrarlo en el dashboard mas adelante.

In [63]:
EstadisticasAccidentesPaises=pd.read_csv("estadisticasAccidentesPaíses.csv")

In [83]:
len(EstadisticasAccidentesPaises)

200

In [64]:
EstadisticasAccidentesPaises.head(2)

,Fecha,Aeronave,Aerolínea,Víctimas,País/Océano,Lugar
0,1953-06-18 00:00:00.000,Douglas C-124A-DL Globemaster,USAF,129.0,Japón,"Cerca de la Base Aérea de Tachikawa, Tokio"
1,1956-06-30 00:00:00.000,Douglas DC-7,United Airlines,128.0,Estados Unidos,"Gran Cañón, Arizona"

In [688]:
EstadisticasAccidentesPaises.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219 entries, 0 to 218
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Fecha        200 non-null    object
 1   Aeronave     219 non-null    object
 2   Aerolínea    219 non-null    object
 3   Víctimas     200 non-null    float64
 4   País/Océano  200 non-null    object
 5   Lugar        204 non-null    object
dtypes: float64(1), object(5)
memory usage: 10.4+ KB

Ya que hay unos pocos datos nulos procedo a hacer un dropna para que así queden todas las columnas con el mismo numero de registro

In [66]:
EstadisticasAccidentesPaises=EstadisticasAccidentesPaises.dropna()

In [68]:
EstadisticasAccidentesPaises.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200 entries, 0 to 218
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Fecha        200 non-null    object
 1   Aeronave     200 non-null    object
 2   Aerolínea    200 non-null    object
 3   Víctimas     200 non-null    float64
 4   País/Océano  200 non-null    object
 5   Lugar        200 non-null    object
dtypes: float64(1), object(5)
memory usage: 10.9+ KB

igual que en los dataset anteriores procedemos a rellenar valores nulos con el mismo argumento

In [73]:
EstadisticasAccidentesPaises["Fecha"]=EstadisticasAccidentesPaises["Fecha"].fillna(0)

In [74]:
EstadisticasAccidentesPaises["Víctimas"]=EstadisticasAccidentesPaises["Víctimas"].fillna("0")

In [75]:
EstadisticasAccidentesPaises["País/Océano"]=EstadisticasAccidentesPaises["País/Océano"].fillna("se desconoce")

In [76]:
EstadisticasAccidentesPaises["Lugar"]=EstadisticasAccidentesPaises["Lugar"].fillna("se desconoce")

A continuación hago el group by de países y con este resultado formo un nuevo dataframe que tambien lo exportaré, hacia la herramienta de visualización y mostrar tal vez un top 5 o top 10 ó en un mapa, los países con mayor número de muertes.

In [69]:
numero_muertes_país=EstadisticasAccidentesPaises.groupby("País/Océano")["Víctimas"].sum()

In [70]:
numero_muertes_país

País/Océano
Afganistán             104.0
Alemania Oriental      156.0
Angola                 271.0
Antártida              257.0
Arabia Saudita         718.0
                       ...
Venezuela              315.0
Vietnam del Sur        421.0
Yugoslavia             176.0
Zaire                  253.0
África del Sudoeste    123.0
Name: Víctimas, Length: 72, dtype: float64

In [615]:
type(numero_muertes_país)

pandas.core.series.Series

Como resultado del groupby tomamos la serie que nos dio, y lo convertimos a dataframe:

Hacemos lo correspondiente para poder transformar este resultado en un dataframe:

In [71]:
víctimas_por_países1 = numero_muertes_país.reset_index()

In [703]:
víctimas_por_países1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   País/Océano  72 non-null     object
 1   Víctimas     72 non-null     float64
dtypes: float64(1), object(1)
memory usage: 1.2+ KB

creo un dataframe con el top´de los 6 paises donde han habido mas muertos de la tabla anterior para luego poder mostrar en un mapa mas adelante en power bi

In [77]:
paises=["ESTADOS UNIDOS","RUSIA","ESPAÑA","JAPÓN","INDONESIA","FRANCIA"]

In [78]:
latitud=[40.411798611711774,62.16320126523596,39.463206669116616,36.44952132486103,-4.42490107214453,46.5955338166885]

In [79]:
longitud=[-101.09136530944086, 94.03515667894071,-3.546785334363684,138.8643786168058,122.0086562672168, 2.604123732867359]

In [80]:
paises_mas_muertes=pd.DataFrame({"pais":paises,"latitud":latitud,"longitud":longitud})

In [81]:
paises_mas_muertes

             pais    latitud    longitud
0  ESTADOS UNIDOS  40.411799 -101.091365
1           RUSIA  62.163201   94.035157
2          ESPAÑA  39.463207   -3.546785
3           JAPÓN  36.449521  138.864379
4       INDONESIA  -4.424901  122.008656
5         FRANCIA  46.595534    2.604124

luego que ya tenemos nuestras tablas, procedo a cargarlas a un motor SQL, en este caso MYSQL, las puedo cargar directamente desde aca con el siguiente código usando las librerías a continuación

In [513]:
pip install PyMySQL

Requirement already satisfied: PyMySQL in c:\users\usuario\anaconda3\lib\site-packages (1.0.2)Note: you may need to restart the kernel to use updated packages.

In [572]:
from sqlalchemy import create_engine

In [573]:
cadena_conexion='mysql+pymysql://root:1234@localhost:3306/practica3henry'

In [574]:
conexion=create_engine(cadena_conexion)

In [576]:
EstadisticasAccidentesPaises.to_sql(name='EstadisticasAccidentesPaises',con=conexion)

C:\Users\Usuario\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'EstadisticasAccidentesPaises' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

219

In [577]:
acciAereos.to_sql(name='acciAereos',con=conexion)

C:\Users\Usuario\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'acciAereos' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

5008

In [579]:
estadisticasmuertesAviones.to_sql(name='estadisticasmuertesAviones',con=conexion)

C:\Users\Usuario\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'estadisticasmuertesAviones' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

52

In [580]:
dataNueva.to_sql(name='acciAereos2',con=conexion)

C:\Users\Usuario\anaconda3\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'acciAereos2' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

1629

In [704]:
víctimas_por_países1.to_sql(name='víctimas_por_país',con=conexion)

72

In [711]:
paises_mas_muertes.to_sql(name='países+muertes',con=conexion)

6

Verifico que efectivamente las cargó a Mysql, luego desde Mysql reviso las tablas que estén bien y desde mi herramienta de visualización POWER BI procedo a importarlas y así empezar a construir el dashboard correspondiente.